body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

.input-grid{
display:grid;
grid-template-columns:repeat(5,80px);
gap:10px;
justify-content:center;
margin:20px;
}

input{
padding:8px;
text-align:center;
}

button{
padding:12px 25px;
font-size:16px;
margin:20px;
cursor:pointer;
}

.panel{
margin:20px auto;
width:60%;
background:#1e293b;
padding:15px;
border-radius:10px;
}

canvas{
margin-top:30px;
background:white;
}